Repository yamada-ui/create-yamada-app: changes, and which lefthook commands are due for each by the changed paths.
All: format-src, lint

format-src:
  priority: 1
  run: 'pnpm prettier {staged_files} -w
  
    '
  stage_fixed: true

lint:
  priority: 2
  run: 'pnpm eslint {staged_files} --max-warnings=0 --fix
  
    '
  stage_fixed: true

chore: ran `prettier . -w`
  helpers/color.ts
  helpers/get-pkg-manager.ts
  helpers/git.ts
  helpers/index.ts
  helpers/install.ts
  helpers/is-folder-empty.ts
  helpers/is-online.ts
  helpers/is-writeable.ts
  helpers/is.ts
  helpers/template.ts
  helpers/validate-pkg.ts
  prompt/base.ts
  prompt/framework.ts
  prompt/package-manager.ts
  prompt/project-name.ts
  run.ts
  templates/create-app.ts
  templates/next/app-router/app/layout.tsx
  templates/next/app-router/app/page.tsx
  templates/next/app-router/components/layouts/index.tsx
  templates/next/app-router/next.config.mjs
  templates/next/app-router/theme/components/index.ts
  templates/next/app-router/theme/config.ts
  templates/next/app-router/theme/index.ts
  templates/next/app-router/theme/styles/global-style.ts
  templates/next/app-router/theme/styles/index.ts
  templates/next/app-router/theme/styles/layer-styles.ts
  templates/next/app-router/theme/styles/reset-style.ts
  templates/next/app-router/theme/styles/text-styles.ts
  templates/next/app-router/theme/tokens/index.ts
Due: format-src, lint

chore(deps): add -D `@tsconfig/strictest`
  package.json
  pnpm-lock.yaml
Due: format-src

feat: add `isBoolean`
  helpers/is.ts
Due: format-src, lint

feat: add `@types/env.d.ts`
  @types/env.d.ts
Due: format-src, lint

fix: type-check errors in `run.ts`
  run.ts
Due: format-src, lint

fix: typecheck-errors in template.ts
  helpers/template.ts
Due: format-src, lint

chore(create-app): remove unused statements
  templates/create-app.ts
Due: format-src, lint

chore: update `tsconfig.json`
  tsconfig.json
Due: format-src

feat: add `.editorconfig`
  .editorconfig
Due: none

chore: update early return statements
  helpers/template.ts
Due: format-src, lint

Path conditions:
  format-src: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx,d.ts,yml,yaml,md,mdx,json,html,css}
  lint: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx,d.ts}
